body
{
    background-color: lightgray;
}
.g1
{
    height: 300px;
    width: 450px;
    border: 2px solid black;
    float: right;
    margin-top: 150px;
    display: inline-block;
}
p
{
    margin-top: 200px;
    font-size: 30px;
    
}
h1
{
   text-align: center;
}
img
{
    height: 300px;
    width: 450px;
}

