body
{
    background-color: lightgrey;
}
h1,p
{
    text-align: center;
}
p
{
    font-size: 20px;
}
.c2
{
    width: 140px;
    height: 1px;
}
.c3
{
    width: 100px;
    height: 1px;
}
.e1
{
    width: 20%;
    height: 20%;
    border: 2px solid black;
    text-align: center;
    background-color: lightcyan;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 510px;
    padding: 5px 10px 5px 10px;
}
